@tailwind base;
@tailwind components;
@tailwind utilities;
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  border: none;
  transition: 0.3s;
}
html
{
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}
body
{
  background-color: #f8f8f8;
}
::-webkit-scrollbar
{
  display: none;
}
.und-line::after
{
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background-color: blue;
    left: 0;
    bottom: 0;
}
.und-line::after
{
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}
.und-line:hover::after
{
    transform: scale(1, 1);
    transition: transform 0.3s ease;
} 
.active-nav
{
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s ease;
  display: block;
}
.inactive-nav
{
  display: none;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.5s ease;
}

.active-header
{
  opacity: 1;
  transition: 0.5s ease;
  /* display: block; */
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  padding: 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  z-index: 10;
  gap: 20px;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid rgb(210, 210, 210);
}
.inactive-header
{
  opacity: 0;
  transition: 0.5s ease;
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  padding: 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  z-index: 10;
  gap: 20px;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid rgb(210, 210, 210);
}
.active-header
{
  opacity: 1;
  transition: 0.5s ease;
  /* display: block; */
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  padding: 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  z-index: 10;
  gap: 20px;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid rgb(210, 210, 210);
}
.inactive-header
{
  opacity: 0;
  transition: 0.5s ease;
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  padding: 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  z-index: 10;
  gap: 20px;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid rgb(210, 210, 210);

}